.navbar, .main-navigation ul ul{
    background:rgba(0, 103, 127, .95);
    z-index: 9999;
}
 .site-footer, .site-header, .part-vittnesmal-section, .ff-label-wrapper.custom, #search-filter-form-9890, .siteBg,
 .primary, .ej_sokbarbox .arrow_right_container, .sidebar_menu li.current-menu-item::before{
    background-color:#00677f;
}
.siteBg.secondary:after {
    background: linear-gradient(180deg, #f8004e 0, #c5003e);

}
.siteBg.primary:after {
    background: linear-gradient(180deg,
#62a1b4 0,
    #00677f);
}
.icon_container{
    background:rgba(0, 103, 127, .7); 
}
.btn-primary, .float_ansok_button {
    background-color:#c5003e;
    border-color:#c5003e;
    color: #fff !important;
}
.btn-primary:hover {
    background-color:#ac0036;
    border-color:#ac0036;
}
.content-area ul li::before{
  background-color:#c5003e;
}
.content-area ol li::before, blockquote p:first-child::before{
 color:#c5003e;
}
.bg-light {
    background:#f2f2f2 !important;
    
}
.header_overlay {
    background: rgba(0, 103, 127, .5);
}
.spicewpsearchform{
    border: 5px solid rgb(0, 103, 127);
}

.class_kurs:hover {
     background-color: rgba(197, 0, 62,.15);
     color: #fff;
 }
.md-accordion .card-header, .ej_sokbarbox {
    border-bottom: 1px solid rgba(0, 103, 127,.4);
}
.ej_sokbarbox{
    border-top: 1px solid rgba(0, 103, 127,.4);;
}

.class_certi:hover {
     background-color: rgba(0, 72, 81,.18);
 }

.class_yh {
    background: #f2f2f2;
}
.class_yh:hover {
     background-color: rgba(0, 103, 127,.25);
 }


.certifiering{
    background-color: rgb(0, 72, 81);
}
.kurs{
    background-color: rgb(197, 0, 62);
}




/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a, .site-content a:hover, .entry-content h1,  .entry-content h2, .entry-content h3, .entry-content h4, .ico-class, .md-accordion .card-header a, .page-title-single {
	color: #00677f;
}
a:hover{
    color: #62a1b4;
}

/*--------------------------------------------------------------
## fonts
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6{
    font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B";
    font-style: normal;
    font-weight: 700;
}
@keyframes scroll {
    0%  	{margin-top: 0px;}
    10% 	{margin-top: 0px;}

    20%  {margin-top: -40pt;}
    30%  {margin-top: -40pt;}

    40%  {margin-top: -80pt;}
    50%  {margin-top: -80pt;}

    60%  {margin-top: -120pt;}
    70%  {margin-top: -120pt;}

    80%  {margin-top: -160pt;}
    90%  {margin-top: -160pt;}

    100% {margin-top: 0px;}
}
